// ---- ---- color ---- ---- //
$color_t_dark: #222629;
$color_bglight: #86c232;
$color_bgdark: #222629;

// ---- ---- main ---- ---- //
body {
  min-width: 300px;
  overflow-x: hidden;
  font-family: 'Lora', serif;
  color: $color_t_dark;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
