// ---- ---- color ---- ---- //
$color_light: #ffffff;
$color_dark: #171919;
$color_accent: #ffb240;
$color_bgdark: #0f1010;

// ---- ---- main ---- ---- //
body {
  min-width: 300px;
  overflow-x: hidden;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
// ---- ---- title ---- ---- //
