// ---- ---- var UIKit---- ---- //
$global-font-family: 'Lora', serif;
$global-color: #86c232;
$global-background: #222629;
$global-emphasis-color: #86c232;
$global-muted-color: #a5a5a5;
$container-large-max-width: 1366px;
// ---- ----  del late ---- ---- //
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

// ---- ---- import ---- ---- //
@import 'normalize.scss';
@import 'myreset.scss';
@import 'variables-theme.scss';
@import 'mixins-theme.scss';
@import 'uikit-theme.scss';
@import 'global.scss';

// ---- ---- main ---- ---- //
.header {
  background-color: $color_bgdark;
}
.hero {
  background-color: $color_bgdark;
}
.uk-container-large {
  background-color: $color_bglight;
}

// ---- ---- Templ ---- ---- //
.logo {
  &__box {
  }
  &__link {
  }
}
.menu {
  &__list {
  }
  &__item {
  }
}
.user {
  &__box {
  }
  &__avatar {
  }
  &__name {
  }
}
.main {
  background-color: #fefefe;
}
.footer {
  background-color: aqua;
}

.uk-container-large {
}

// ---- ---- media ---- ---- //
@import 'media.scss';
