// ---- ---- var UIKit---- ---- //
$global-font-family: 'Lora', serif;
$global-color: #86c232;
$global-emphasis-color: #86c232;
$global-muted-color: #a5a5a5;
$global-background: #222629;
$global-danger-background: #b23850;
$global-success-background: #61892f;
$global-primary-background: #222629;
$global-border: #222629;

$container-large-max-width: 1366px;

$tooltip-background: $global-success-background;
$dotnav-item-background: $global-background;
$dotnav-item-hover-background: $global-danger-background;
$dotnav-item-onclick-background: $global-danger-background;
$dotnav-item-active-background: $global-danger-background;

// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

// ---- ---- import ---- ---- //
@import 'normalize.scss';
@import 'myreset.scss';
@import 'variables-theme.scss';
@import 'mixins-theme.scss';
@import 'uikit-theme.scss';
@import 'global.scss';

// ---- ---- main ---- ---- //
.main {
  min-height: 100vh;
}
.header {
  background-color: $color_bgdark;
}
.hero {
  background-color: $color_bgdark;
}
.uk-container-large {
  background-color: $color_bglight;
}
.uk-label {
  font-size: 0.65rem;
}
.img {
  display: inline-block;
  max-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid $global-background;
}
.footer {
  min-height: 80px;
  background-color: $global-background;
}
// ---- ---- media ---- ---- //
@import 'media.scss';
